:root {
  --color-primary-blue: #04a6d8;
  --color-primary-gray: #50555a;
  --color-primary-green: #00960F;
  --color-primary-orange: #f55b18;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1, h2, h3 {
  text-transform: uppercase;
  margin-top: 40px;
  color: var(--color-primary-gray);
}

input {
  outline: 0;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  height: 30px;
}

input:hover {
  border-color: darkgray;
}

input:focus {
  border-color: darkgray;
  border-width: 1.5px;
}

table{
  border-collapse: collapse;
  margin-bottom: 100px;
}

th {
  background-color: var(--color-primary-gray);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

td {
  padding: 10px;
  height: 30px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}

.footer {
  background-color: var(--color-primary-gray);
  padding: 20px;
  margin-top: auto;
}

.add-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.add-movie {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.add-movie div {
  flex-basis: 200px;
}

.input-error {
  color: red;
  font-size: 12px;
  padding: 2px;
}

.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  gap: 10px;
}

.table-header button {
  height: 24px;
  background-color: var(--color-primary-gray);
  border: none;
}

.table-header button:hover {
    cursor: pointer;
    margin: 0;
}

.table-info-column {
  min-width: 120px;
}

.serialNo {
  text-align: left;
  width: 50px;
}

.sort-button-container {
  height: 24px;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 15px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link:hover {
  text-decoration: underline;
}

.nav-container {
  display: flex;
  background-color: var(--color-primary-blue);
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.button {
  border: 0;
  outline: 0;
  height: 33px;
  width: auto;
  min-width: 80px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);  
}

.box-in-a-page {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-style: groove;
  border-width: 1px;
  border-color: var(--color-primary-gray);
}

.sub-heading {
  color: var(--color-primary-green);
} 

.copyright-info {
  color: var(--color-primary-blue);
}

#homeLink {
  font-weight: bold;
  font-size: 20px;
}

#homeLink:hover {
  text-decoration: none;
}

#search-input {
  margin-left: -28px;
  z-index: 2;
  min-width: 300px;
  padding-left: 28px;
}

#search {
  z-index: 4;
}

#search-bar {
  display: flex;
  align-items: center;
  animation: appearing-search-bar;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes appearing-search-bar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}